<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html" ; charset="utf-8"/>
		<link href='http://fonts.googleapis.com/css?family=Irish+Grover' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=La+Belle+Aurore' rel='stylesheet' type='text/css'>
		<link href="../public/css/screen.css" type=" text/css" rel=" stylesheet"/>
		<link href="../public/css/sidebar.css" type=" text/css" rel=" stylesheet"/>
		<link href="../public/css/blog.css" type=" text/css" rel=" stylesheet"/>
		<link href="../public/css/web.css" type=" text/css" rel=" stylesheet"/>
		<link rel=" shortcut icon" href=" img/favicon.ico"/>
	</head>

	<body>
		<section id=" wrapper">
			<header id="header">
				<div class="top">
					<nav>
						<ul class="navigation">
							<li>
								<a href="/symblog/">Home</a>
							</li>
							<li>
								<a href="aboutUs">About</a>
							</li>
							<li>
								<a href="contact">Contact</a>
							</li>
							<li>
								<a href="blogs/add">New Blog</a>
							</li>
						</ul>
					</nav>
				</div>
				<hgroup>
					<h2>
						<a href="/symblogBBDD/">symblog</a>
					</h2>
					<h3>
						<a href="/symblogBBDD/">creating a blog in Symfony2</a>
					</h3>
				</hgroup>
			</header>
			<article class="blog">
				<div>
					{{responseMessage}}
				</div>
				<h3>Add Blog</h3>
				<form name="formAddBlog" method="post" action="" enctype="multipart/form-data">
					<div id="enquiry">
						<div>
							<label for="enquiry_title">Title</label>
							<input type="text" id="enquiry_title" name="title"/>
						</div>
						<div>
							<label for="enquiry_description">Description</label>
							<textarea id="enquiry_description" name="description" required="required"></textarea>
						</div>
						<div>
							<label for="enquiry_tag" class="required">Tags</label>
							<input type="text" id="enquiry_tag" name="tag" required="required"/>
						</div>
						<div>
							<label for="enquiry_file">Imagen</label>
							<input type="file" name="image"/>
						</div>
						<div>
							<label for="enquiry_author" class="required">Author</label>
							<input type="text" id="enquiry_author" name="author" required="required"/>
						</div>
						<input type="submit" id="enquiry_save" name="enquiry[save]">
					</div>
				</div>
			</form>
		</article>
		<aside class="sidebar">
			<section class="section">
				<header>
					<h3>Tag Cloud</h3>
				</header>
				<p class="tags">
					<span class="weight-1">magic</span>
					<span class="weight-5">symblog</span>
					<span class="weight-4">movie</span>
				</p>
			</section>
			<section class="section">
				<header>
					<h3>Latest Comments</h3>
				</header>


				<article class="comment">
					<header>
						<p class="small">
							<span class="highlight">{$comments[$i] -> getUser()}</span>
							commented on
							<a href="#">{}</a>
						</p>
					</header>
					<p></p>
				</article>


			</section>
		</aside>
		<div id="footer">
			dwes symblog - created by
			<a href="#">dwes</a>
		</div>
	</body>
</html></head></body></html>
