<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html" ; charset="utf-8"/>
		<link href='http://fonts.googleapis.com/css?family=Irish+Grover' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=La+Belle+Aurore' rel='stylesheet' type='text/css'>
		<link href="../public/css/screen.css" type=" text/css" rel=" stylesheet"/>
		<link href="../public/css/sidebar.css" type=" text/css" rel=" stylesheet"/>
		<link href="../public/css/blog.css" type=" text/css" rel=" stylesheet"/>
		<link href="../public/css/web.css" type=" text/css" rel=" stylesheet"/>
		<link rel=" shortcut icon" href=" img/favicon.ico"/>
	</head>

	<body>
		<section id=" wrapper">
			<header id="header">
				<div class="top">
					<nav>
						<ul class="navigation">
							<li>
								<a href="/symblog/">Home</a>
							</li>
							<li>
								<a href="aboutUs">About</a>
							</li>
							<li>
								<a href="contact">Contact</a>
							</li>
							<li>
								<a href="blogs/add">New Blog</a>
							</li>
						</ul>
					</nav>
				</div>
				<hgroup>
					<h2>
						<a href="/symblogBBDD/">symblog</a>
					</h2>
					<h3>
						<a href="/symblogBBDD/">creating a blog in Symfony2</a>
					</h3>
				</hgroup>
			</header>

            <nav>
						<ul>
							<li>
								<a href="users/add">New User</a>
							</li>
							
							<li>
								<a href="blogs/add">New Blog</a>
							</li>
						</ul>
					</nav>
			
		<div id="footer">
			dwes symblog - created by
			<a href="#">dwes</a>
		</div>
	</body>
</html></head></body></html>