<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html" ; charset="utf-8" />
			    <link href='http://fonts.googleapis.com/css?family=Irish+Grover' rel='stylesheet' type='text/css'>
			    <link href='http://fonts.googleapis.com/css?family=La+Belle+Aurore' rel='stylesheet' type='text/css'>
			    <link href="./public/css/screen.css" type=" text/css" rel=" stylesheet" />
			    <link href="./public/css/sidebar.css" type=" text/css" rel=" stylesheet" />
			    <link href="./public/css/blog.css" type=" text/css" rel=" stylesheet" />
			    <link rel=" shortcut icon" href=" img/favicon.ico" />
			</head>
			
			<body>
			    <section id=" wrapper">
		<header id="header">
			<div class="top">
				<nav>
					<ul class="navigation">
						<li>
							<a href="/symblogBBDD/">Home</a>
						</li>
						<li>
							<a href="aboutUs">About</a>
						</li>
						<li>
							<a href="contact">Contact</a>
						</li>
						<li>
							<a href="blogs/add">New Blog</a>
						</li>
						<li>
							<a href="login">Login</a>
						</li>
					</ul>
				</nav>
			</div>
			<hgroup>
				<h2>
					<a href="/symblogBBDD/">symblog</a>
				</h2>
				<h3>
					<a href="/symblogBBDD/">creating a blog in Symfony2</a>
				</h3>
			</hgroup>
		</header>
		<section class="main-col">


			{% for blog in blogs  %}

				<article class="blog">
					<div class="date">
						<time datetime=" "></time>
					</div>
					<header>
						<h2>
							<a href="">
								{{blog.title}}
							</a>
						</h2>
					</header>
					<img src="img/{{blog.image}}"/>
					<div class="snippet">
						<p>
							{{blog.blog}}
						</p>
						<p class="continue">
							<a href="#">Continue reading...</a>
						</p>
					</div>
					<footer class="meta">
						<p>Comments:
							<a href="#"></a>
						</p>
						<p>Posted by
							<span class="highlight">{{blog.author}}</span>
							at 07:06PM</p>
						<p>Tags:
							<span class="highlight"></span>
						</p>
					</footer>
				</article>
			{% endfor %}

		</section>
		<aside class="sidebar">
			<section class="section">
				<header>
					<h3>Tag Cloud</h3>
				</header>
				<p class="tags">
					<span class="weight-1">magic</span>
					<span class="weight-5">symblog</span>
					<span class="weight-4">movie</span>
				</p>
			</section>
			<section class="section">
				<header>
					<h3>Latest Comments</h3>
				</header>


				<article class="comment">
					<header>
						<p class="small">
							<span class="highlight">{$comments[$i] -> getUser()}</span>
							commented on
							<a href="#">{}</a>
						</p>
					</header>
					<p></p>
				</article>


			</section>
		</aside>
		<div id="footer">
			dwes symblog - created by
			<a href="#">dwes</a>
		</div>
	</head>
</body></html>
