<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html" ; charset="utf-8"/>
		<link href='http://fonts.googleapis.com/css?family=Irish+Grover' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=La+Belle+Aurore' rel='stylesheet' type='text/css'>
		<link href="../public/css/screen.css" type=" text/css" rel=" stylesheet"/>
		<link href="../public/css/sidebar.css" type=" text/css" rel=" stylesheet"/>
		<link href="../public/css/blog.css" type=" text/css" rel=" stylesheet"/>
		<link href="../public/css/web.css" type=" text/css" rel=" stylesheet"/>
		<link rel=" shortcut icon" href=" img/favicon.ico"/>
	</head>

	<body>
		<section id=" wrapper">
			<header id="header">
				<hgroup>
					<h2>
						symblog
					</h2>
					<h3>
						Login
					</h3>
				</hgroup>
			</header>
			<article class="blog">
				<div>
					{{responseMessage}}
				</div>
				<h3>Login</h3>
				<form name="formAddBlog" method="post" action="" enctype="multipart/form-data">
					<div id="enquiry">
						<div>
							<label for="enquiry_user">User</label>
							<input type="email" id="enquiry_email" name="email" required="required"/>
						</div>
						<div>
							<label for="enquiry_password">Password</label>
							<input type="password" id="enquiry_password" name="password" required="required"/>
						</div>
					
						<input type="submit" id="enquiry_save" name="enquiry[save]">
					</div>
				</div>
			</form>
		</article>
		<div id="footer">
			dwes symblog - created by
			<a href="#">dwes</a>
		</div>
	</body>
</html></head></body></html>